name: iOS Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build and Test
      run: |
        xcodebuild -project WebView.xcodeproj -scheme WebView test
